/********Reset**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/*******/

body {
  background-color: lightseagreen;
}

h1 {
  font-size: 80px;
  font-family: lobster;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-shadow: 3px 3px 0px aliceblue;
}

h2 {
  font-size: 35px;
  margin-left: 10px;
  font-family: lora;
  text-shadow: 2px 2px 0px aliceblue;
}

p {
  margin-left: 10px;
  font-family: crimson pro;
  font-size: 20px;
  text-align: justify;
  margin-right: 20px;
}

.del2 {
  margin-top: 30px;
}

.del3 {
  margin-top: 30px;
}

.grid_1-1 img {
  object-fit: cover;
  align-self: stretch;
}

footer {
  font-family: lobster;
  text-align: center;
}

.hero {
  display: grid;
  background-image: url(lottiefiles/baggrund.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
